.parallax {
    
    background-image: url("mae-mu-_h-2jrL9cMU-unsplash.jpg");
  
    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}